<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <CreateEmail.My.MySettings>
                <setting name="EmailTo" serializeAs="String">
                        <value>devesh.sharma@kiwiplan.com</value>
                </setting>
                <setting name="EmailFrom" serializeAs="String">
                        <value>divsh23@gmail.com</value>
                </setting>
                <setting name="EmailBcc" serializeAs="String">
                        <value />
                </setting>
                <setting name="EmailCc" serializeAs="String">
                        <value />
                </setting>
                <setting name="EmailBody" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment1" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment2" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment3" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment4" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment5" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment6" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment7" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment8" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment9" serializeAs="String">
                        <value />
                </setting>
                <setting name="Attachment10" serializeAs="String">
                        <value />
                </setting>
        </CreateEmail.My.MySettings>
    </userSettings>
</configuration>